In [ ]:
Kaius Evans
Regression Analysis of Year and State Fixed effects on CO2 Emissions regressed on energy prices and US State GDP 
between 1997-2019.

In [ ]:
    The relationships between economic activity and carbon pollution are usually investigated through a reduced-form energy demand 
model that links energy consumption to energy prices and aggregate economic activity.
    
    The data comes from the U.S. Department of Energy, the U.S. Energy Information Administration and the Bureau of Economic Analysis.

In [ ]:
IMPORT AND CLEAN DATASETS

In [1]:
import pandas as pd
co2_path = "/Users/kaiusevans/Downloads/MIDTERM-2/STATE_DATA/co2_FINAL.xlsx"
co2_data = pd.read_excel(co2_path, skiprows=4, nrows=51)  
co2_data = co2_data.rename(columns={co2_data.columns[0]: "State"})

year_cols = [col for col in co2_data.columns if isinstance(col, int) and 1997 <= col <= 2019]

filtered_co2_data = co2_data[["State"] + year_cols]
filtered_co2_data = filtered_co2_data.rename(columns={year: f"co2.{year}" for year in year_cols})
filtered_co2_data = filtered_co2_data.reset_index().rename(columns={"index": "row_id"})

co2_long = pd.wide_to_long(filtered_co2_data, 
                          stubnames="co2", 
                          i=["State", "row_id"],
                          j="Year", 
                          sep=".")

co2_long = co2_long.reset_index()

co2_long = co2_long.drop("row_id", axis=1)
codx = co2_long.reset_index(drop=True)
print("CO2 Data (codx) - First 50 rows:")
print(codx.head(50))
print("\nDataFrame dtypes:")
print(codx.dtypes)

CO2 Data (codx) - First 50 rows:
        State  Year         co2
0      ALASKA  1997   41.217128
1      ALASKA  1998   42.236285
2      ALASKA  1999   42.864469
3      ALASKA  2000   43.575045
4      ALASKA  2001   42.548535
5      ALASKA  2002   42.736578
6      ALASKA  2003   42.890870
7      ALASKA  2004   46.193065
8      ALASKA  2005   47.485308
9      ALASKA  2006   45.417570
10     ALASKA  2007   43.653642
11     ALASKA  2008   39.079171
12     ALASKA  2009   37.283488
13     ALASKA  2010   37.137284
14     ALASKA  2011   37.085337
15     ALASKA  2012   36.155281
16     ALASKA  2013   34.049190
17     ALASKA  2014   33.919405
18     ALASKA  2015   35.027804
19     ALASKA  2016   33.406902
20     ALASKA  2017   33.726966
21     ALASKA  2018   34.514589
22     ALASKA  2019   34.259440
23   ALABAMA   1997  134.122751
24   ALABAMA   1998  133.525606
25   ALABAMA   1999  135.848198
26   ALABAMA   2000  142.302750
27   ALABAMA   2001  133.309972
28   ALABAMA   2002  138.301049
29   ALABAMA   2003  139.781270
30   ALABAMA   2004  141.984129
31   ALABAMA   2005  143.520721
32   ALABAMA   2006  145.756273
33   ALABAMA   2007  147.302459
34   ALABAMA   2008  139.355305
35   ALABAMA   2009  119.797558
36   ALABAMA   2010  132.488047
37   ALABAMA   2011  129.546189
38   ALABAMA   2012  122.631371
39   ALABAMA   2013  120.463436
40   ALABAMA   2014  122.632268
41   ALABAMA   2015  119.200889
42   ALABAMA   2016  113.995134
43   ALABAMA   2017  108.588384
44   ALABAMA   2018  112.355471
45   ALABAMA   2019  106.250752
46  ARKANSAS   1997   59.143381
47  ARKANSAS   1998   60.528634
48  ARKANSAS   1999   62.727468
49  ARKANSAS   2000   63.341272

DataFrame dtypes:
State     object
Year       int64
co2      float64
dtype: object

In [2]:
coal_path = "/Users/kaiusevans/Downloads/MIDTERM-2/STATE_DATA/pr_ex_cl_es.xlsx"
coal_data = pd.read_excel(coal_path, sheet_name="Coal Prices", skiprows=2, nrows=51)  
coal_data = coal_data.rename(columns={coal_data.columns[0]: "State"})

year_cols = [col for col in coal_data.columns if isinstance(col, int) and 1997 <= col <= 2019]

filtered_coal_data = coal_data[["State"] + year_cols]
filtered_coal_data = filtered_coal_data.rename(columns={year: f"coal.{year}" for year in year_cols})
filtered_coal_data = filtered_coal_data.reset_index().rename(columns={"index": "row_id"})

coal_long = pd.wide_to_long(filtered_coal_data, 
                           stubnames="coal", 
                           i=["State", "row_id"],
                           j="Year", 
                           sep=".")

coal_long = coal_long.reset_index()
coal_long = coal_long.sort_values(by=["State", "Year"])
coal_long = coal_long.drop("row_id", axis=1)


coal_dx = coal_long.reset_index(drop=True)
print("Coal Data (coal_dx) - First 5 rows:")
print(coal_dx.head())
print("\nDataFrame dtypes:")
print(coal_dx.dtypes)

Coal Data (coal_dx) - First 5 rows:
  State  Year  coal
0    AK  1997  2.18
1    AK  1998  2.06
2    AK  1999  2.12
3    AK  2000  1.87
4    AK  2001  1.89

DataFrame dtypes:
State     object
Year       int64
coal     float64
dtype: object

In [3]:
elec_path = "/Users/kaiusevans/Downloads/MIDTERM-2/STATE_DATA/pr_ex_cl_es.xlsx"
elec_data = pd.read_excel(elec_path, sheet_name="Electricity Prices", skiprows=2, nrows=51)  
elec_data = elec_data.rename(columns={elec_data.columns[0]: "State"})

year_cols = [col for col in elec_data.columns if isinstance(col, int) and 1997 <= col <= 2019]

filtered_elec_data = elec_data[["State"] + year_cols]
filtered_elec_data = filtered_elec_data.rename(columns={year: f"elec.{year}" for year in year_cols})
filtered_elec_data = filtered_elec_data.reset_index().rename(columns={"index": "row_id"})

elec_long = pd.wide_to_long(filtered_elec_data, 
                           stubnames="elec", 
                           i=["State", "row_id"],
                           j="Year", 
                           sep=".")
elec_long = elec_long.reset_index()
elec_long = elec_long.sort_values(by=["State", "Year"])
elec_long = elec_long.drop("row_id", axis=1)

elec_dx = elec_long.reset_index(drop=True)
print("Electricity Data (elec_dx) - First 5 rows:")
print(elec_dx.head())
print("\nDataFrame dtypes:")
print(elec_dx.dtypes)

Electricity Data (elec_dx) - First 5 rows:
  State  Year   elec
0    AK  1997  29.57
1    AK  1998  29.29
2    AK  1999  28.71
3    AK  2000  29.60
4    AK  2001  30.96

DataFrame dtypes:
State     object
Year       int64
elec     float64
dtype: object

In [4]:
petro_path = "/Users/kaiusevans/Downloads/MIDTERM-2/STATE_DATA/pr_ex_pa_ng.xlsx"
petro_data = pd.read_excel(petro_path, sheet_name="Petroleum Prices", skiprows=2, nrows=51)  
petro_data = petro_data.rename(columns={petro_data.columns[0]: "State"})
year_cols = [col for col in petro_data.columns if isinstance(col, int) and 1997 <= col <= 2019]
filtered_petro_data = petro_data[["State"] + year_cols]
filtered_petro_data = filtered_petro_data.rename(columns={year: f"petro.{year}" for year in year_cols})
filtered_petro_data = filtered_petro_data.reset_index().rename(columns={"index": "row_id"})
petro_long = pd.wide_to_long(filtered_petro_data, 
                           stubnames="petro", 
                           i=["State", "row_id"],
                           j="Year", 
                           sep=".")
petro_long = petro_long.reset_index()
petro_long = petro_long.sort_values(by=["State", "Year"])
petro_long = petro_long.drop("row_id", axis=1)
petro_dx = petro_long.reset_index(drop=True)
print("Petroleum Data (petro_dx) - First 5 rows:")
print(petro_dx.head())
print("\nDataFrame dtypes:")
print(petro_dx.dtypes)

Petroleum Data (petro_dx) - First 5 rows:
  State  Year  petro
0    AK  1997   6.98
1    AK  1998   5.54
2    AK  1999   6.07
3    AK  2000   8.54
4    AK  2001   7.99

DataFrame dtypes:
State     object
Year       int64
petro    float64
dtype: object

In [5]:
natur_path = "/Users/kaiusevans/Downloads/MIDTERM-2/STATE_DATA/pr_ex_pa_ng.xlsx"
natur_data = pd.read_excel(natur_path, sheet_name="Natural Gas Prices", skiprows=2, nrows=51)  
natur_data = natur_data.rename(columns={natur_data.columns[0]: "State"})
year_cols = [col for col in natur_data.columns if isinstance(col, int) and 1997 <= col <= 2019]
filtered_natur_data = natur_data[["State"] + year_cols]
filtered_natur_data = filtered_natur_data.rename(columns={year: f"natur.{year}" for year in year_cols})
filtered_natur_data = filtered_natur_data.reset_index().rename(columns={"index": "row_id"})
natur_long = pd.wide_to_long(filtered_natur_data, 
                           stubnames="natur", 
                           i=["State", "row_id"],
                           j="Year", 
                           sep=".")
natur_long = natur_long.reset_index()
natur_long = natur_long.sort_values(by=["State", "Year"])
natur_long = natur_long.drop("row_id", axis=1)
natur_dx = natur_long.reset_index(drop=True)
print("naturleum Data (natur_dx) - First 5 rows:")
print(natur_dx.head())
print("\nDataFrame dtypes:")
print(natur_dx.dtypes)

naturleum Data (natur_dx) - First 5 rows:
  State  Year  natur
0    AK  1997   2.08
1    AK  1998   2.02
2    AK  1999   1.92
3    AK  2000   1.97
4    AK  2001   2.58

DataFrame dtypes:
State     object
Year       int64
natur    float64
dtype: object

In [6]:
pop_path = "/Users/kaiusevans/Downloads/MIDTERM-2/STATE_DATA/us_pop_gdp.xlsx"
pop_data = pd.read_excel(pop_path, sheet_name="Total Population", skiprows=2, nrows=51)  
pop_data = pop_data.rename(columns={pop_data.columns[0]: "State"})
year_cols = [col for col in pop_data.columns if isinstance(col, int) and 1997 <= col <= 2019]
filtered_pop_data = pop_data[["State"] + year_cols]
filtered_pop_data = filtered_pop_data.rename(columns={year: f"pop.{year}" for year in year_cols})
filtered_pop_data = filtered_pop_data.reset_index().rename(columns={"index": "row_id"})
pop_long = pd.wide_to_long(filtered_pop_data, 
                           stubnames="pop", 
                           i=["State", "row_id"],
                           j="Year", 
                           sep=".")
pop_long = pop_long.reset_index()
pop_long = pop_long.sort_values(by=["State", "Year"])
pop_long = pop_long.drop("row_id", axis=1)
pop_dx = pop_long.reset_index(drop=True)
print("popleum Data (pop_dx) - First 5 rows:")
print(pop_dx.head())
print("\nDataFrame dtypes:")
print(pop_dx.dtypes)

popleum Data (pop_dx) - First 5 rows:
  State  Year  pop
0    AK  1997  613
1    AK  1998  620
2    AK  1999  625
3    AK  2000  628
4    AK  2001  634

DataFrame dtypes:
State    object
Year      int64
pop       int64
dtype: object

In [7]:
gdp_path = "/Users/kaiusevans/Downloads/MIDTERM-2/STATE_DATA/us_pop_gdp.xlsx"
gdp_data = pd.read_excel(gdp_path, sheet_name="Real GDP", skiprows=2, nrows=51)  
gdp_data = gdp_data.rename(columns={gdp_data.columns[0]: "State"})
year_cols = [col for col in gdp_data.columns if isinstance(col, int) and 1997 <= col <= 2019]
filtered_gdp_data = gdp_data[["State"] + year_cols]
filtered_gdp_data = filtered_gdp_data.rename(columns={year: f"gdp.{year}" for year in year_cols})
filtered_gdp_data = filtered_gdp_data.reset_index().rename(columns={"index": "row_id"})
gdp_long = pd.wide_to_long(filtered_gdp_data, 
                           stubnames="gdp", 
                           i=["State", "row_id"],
                           j="Year", 
                           sep=".")
gdp_long = gdp_long.reset_index()
gdp_long = gdp_long.sort_values(by=["State", "Year"])
gdp_long = gdp_long.drop("row_id", axis=1)
gdp_dx = gdp_long.reset_index(drop=True)
print("gdpleum Data (gdp_dx) - First 5 rows:")
print(gdp_dx.head())
print("\nDataFrame dtypes:")
print(gdp_dx.dtypes)

gdpleum Data (gdp_dx) - First 5 rows:
  State  Year    gdp
0    AK  1997  42339
1    AK  1998  41238
2    AK  1999  40788
3    AK  2000  39567
4    AK  2001  41020

DataFrame dtypes:
State    object
Year      int64
gdp       int64
dtype: object

In [ ]:
MERGE DATA AND DEFINE NEW DATAFRAM (DF)

In [8]:
state_map = {
    
    'AK': 'ALASKA', 'AL': 'ALABAMA', 'AR': 'ARKANSAS', 'AZ': 'ARIZONA', 
    'CA': 'CALIFORNIA', 'CO': 'COLORADO', 'CT': 'CONNECTICUT', 'DC': 'DISTRICT OF COLUMBIA',
    'DE': 'DELAWARE', 'FL': 'FLORIDA', 'GA': 'GEORGIA', 'HI': 'HAWAII', 
    'IA': 'IOWA', 'ID': 'IDAHO', 'IL': 'ILLINOIS', 'IN': 'INDIANA',
    'KS': 'KANSAS', 'KY': 'KENTUCKY', 'LA': 'LOUISIANA', 'MA': 'MASSACHUSETTS',
    'MD': 'MARYLAND', 'ME': 'MAINE', 'MI': 'MICHIGAN', 'MN': 'MINNESOTA', 
    'MO': 'MISSOURI', 'MS': 'MISSISSIPPI', 'MT': 'MONTANA', 'NC': 'NORTH CAROLINA',
    'ND': 'NORTH DAKOTA', 'NE': 'NEBRASKA', 'NH': 'NEW HAMPSHIRE', 'NJ': 'NEW JERSEY',
    'NM': 'NEW MEXICO', 'NV': 'NEVADA', 'NY': 'NEW YORK', 'OH': 'OHIO',
    'OK': 'OKLAHOMA', 'OR': 'OREGON', 'PA': 'PENNSYLVANIA', 'RI': 'RHODE ISLAND',
    'SC': 'SOUTH CAROLINA', 'SD': 'SOUTH DAKOTA', 'TN': 'TENNESSEE', 'TX': 'TEXAS',
    'UT': 'UTAH', 'VA': 'VIRGINIA', 'VT': 'VERMONT', 'WA': 'WASHINGTON',
    'WI': 'WISCONSIN', 'WV': 'WEST VIRGINIA', 'WY': 'WYOMING'
}

df = coal_dx.copy()
df = pd.merge(df, elec_dx, on=["State", "Year"])
df = pd.merge(df, petro_dx, on=["State", "Year"])
df = pd.merge(df, natur_dx, on=["State", "Year"])
df = pd.merge(df, pop_dx, on=["State", "Year"])
df = pd.merge(df, gdp_dx, on=["State", "Year"])

df['State_full'] = df['State'].map(state_map)

codx_temp = codx.copy()
codx_temp['State'] = codx_temp['State'].str.strip()

df = pd.merge(df, codx_temp, left_on=["State_full", "Year"], right_on=["State", "Year"], how="left")

df = df.drop(['State_full', 'State_y'], axis=1)
df = df.rename(columns={'State_x': 'State'})

print(df.head(50))
print(df.shape)
print("\nColumns:")
print(df.columns.tolist())

print("\nTotal number of states in merged data:", df['State'].nunique())
print("States in merged data:", sorted(df['State'].unique()))

   State  Year  coal   elec  petro  natur   pop     gdp         co2
0     AK  1997  2.18  29.57   6.98   2.08   613   42339   41.217128
1     AK  1998  2.06  29.29   5.54   2.02   620   41238   42.236285
2     AK  1999  2.12  28.71   6.07   1.92   625   40788   42.864469
3     AK  2000  1.87  29.60   8.54   1.97   628   39567   43.575045
4     AK  2001  1.89  30.96   7.99   2.58   634   41020   42.548535
5     AK  2002  1.94  30.76   7.32   2.65   642   42916   42.736578
6     AK  2003  2.00  30.86   8.40   3.02   648   42133   42.890870
7     AK  2004  1.97  32.29  11.09   3.34   659   43752   46.193065
8     AK  2005  2.01  34.43  14.49   3.97   667   45065   47.485308
9     AK  2006  2.13  37.69  16.92   4.67   675   48538   45.417570
10    AK  2007  2.34  38.96  18.09   5.76   680   51144   43.653642
11    AK  2008  3.01  43.21  25.31   6.50   687   50891   39.079171
12    AK  2009  3.61  44.29  17.55   7.42   699   55911   37.283488
13    AK  2010  3.43  43.29  20.81   6.41   714   54219   37.137284
14    AK  2011  3.85  47.13  26.94   6.61   722   54723   37.085337
15    AK  2012  4.06  47.84  27.57   6.26   731   57718   36.155281
16    AK  2013  4.90  48.37  26.81   6.78   738   54748   34.049190
17    AK  2014  4.87  51.27  26.13   6.99   737   53481   33.919405
18    AK  2015  5.03  51.65  18.49   7.27   738   54015   35.027804
19    AK  2016  6.00  52.62  15.23   7.95   743   53289   33.406902
20    AK  2017  6.43  56.05  17.19   8.82   741   52826   33.726966
21    AK  2018  6.49  56.80  21.38   8.90   737   52929   34.514589
22    AK  2019  6.46  59.36  20.08   8.83   734   53255   34.259440
23    AL  1997  1.57  15.76   8.35   4.68  4368  144457  134.122751
24    AL  1998  1.59  16.45   7.36   4.24  4405  149613  133.525606
25    AL  1999  1.50  16.39   7.94   4.34  4430  155172  135.848198
26    AL  2000  1.44  16.60  10.19   5.32  4452  157698  142.302750
27    AL  2001  1.44  16.61   9.90   7.22  4468  157138  133.309972
28    AL  2002  1.45  16.92   9.29   5.55  4480  161258  138.301049
29    AL  2003  1.49  17.41  10.46   7.30  4503  165250  139.781270
30    AL  2004  1.57  18.01  12.58   7.84  4531  175917  141.984129
31    AL  2005  1.89  19.14  16.07  10.49  4570  181871  143.520721
32    AL  2006  2.20  20.96  18.14   9.78  4629  185337  145.756273
33    AL  2007  2.17  22.46  19.88   9.03  4673  186499  147.302459
34    AL  2008  2.80  25.48  24.68  11.23  4718  185281  139.355305
35    AL  2009  2.81  26.23  17.64   6.64  4758  178893  119.797558
36    AL  2010  2.97  26.44  21.16   6.65  4786  183014  132.488047
37    AL  2011  3.09  27.08  26.75   5.72  4800  185667  129.546189
38    AL  2012  3.31  27.32  27.26   4.28  4817  186554  122.631371
39    AL  2013  3.06  26.47  26.75   5.35  4832  188814  120.463436
40    AL  2014  2.91  27.20  25.68   5.79  4844  187568  122.632268
41    AL  2015  2.65  27.39  18.11   4.15  4855  189429  119.200889
42    AL  2016  2.50  28.07  15.86   3.90  4867  191523  113.995134
43    AL  2017  2.42  28.85  18.02   4.41  4878  193693  108.588384
44    AL  2018  2.54  28.27  20.52   4.49  4892  198054  112.355471
45    AL  2019  2.59  28.85  19.30   4.04  4908  200829  106.250752
46    AR  1997  1.64  18.17   8.57   4.30  2601   82760   59.143381
47    AR  1998  1.48  17.07   7.37   3.95  2626   84791   60.528634
48    AR  1999  1.47  16.79   7.75   4.07  2652   89340   62.727468
49    AR  2000  1.43  17.04  10.35   5.45  2679   90224   63.341272
(1173, 9)

Columns:
['State', 'Year', 'coal', 'elec', 'petro', 'natur', 'pop', 'gdp', 'co2']

Total number of states in merged data: 51
States in merged data: ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [9]:
del codx
del coal_dx
del elec_dx
del petro_dx
del natur_dx
del pop_dx
del gdp_dx

In [10]:
df = df[~df['State'].isin(['AK', 'HI', 'DC'])]

print(df.shape)
print(df.head())

(1104, 9)
   State  Year  coal   elec  petro  natur   pop     gdp         co2
23    AL  1997  1.57  15.76   8.35   4.68  4368  144457  134.122751
24    AL  1998  1.59  16.45   7.36   4.24  4405  149613  133.525606
25    AL  1999  1.50  16.39   7.94   4.34  4430  155172  135.848198
26    AL  2000  1.44  16.60  10.19   5.32  4452  157698  142.302750
27    AL  2001  1.44  16.61   9.90   7.22  4468  157138  133.309972

In [11]:
df['coal'] = df['coal'].replace(0, 0.5)

In [12]:
df['gdppc'] = df['gdp'] / df['pop']
print(df['gdppc'].describe())

print(df.head(50))

count    1104.000000
mean       48.221549
std         9.436042
min        29.986676
25%        41.245871
50%        46.788561
75%        53.736236
max        78.095238
Name: gdppc, dtype: float64
   State  Year  coal   elec  petro  natur   pop     gdp         co2      gdppc
23    AL  1997  1.57  15.76   8.35   4.68  4368  144457  134.122751  33.071658
24    AL  1998  1.59  16.45   7.36   4.24  4405  149613  133.525606  33.964359
25    AL  1999  1.50  16.39   7.94   4.34  4430  155172  135.848198  35.027540
26    AL  2000  1.44  16.60  10.19   5.32  4452  157698  142.302750  35.421833
27    AL  2001  1.44  16.61   9.90   7.22  4468  157138  133.309972  35.169651
28    AL  2002  1.45  16.92   9.29   5.55  4480  161258  138.301049  35.995089
29    AL  2003  1.49  17.41  10.46   7.30  4503  165250  139.781270  36.697757
30    AL  2004  1.57  18.01  12.58   7.84  4531  175917  141.984129  38.825204
31    AL  2005  1.89  19.14  16.07  10.49  4570  181871  143.520721  39.796718
32    AL  2006  2.20  20.96  18.14   9.78  4629  185337  145.756273  40.038237
33    AL  2007  2.17  22.46  19.88   9.03  4673  186499  147.302459  39.909908
34    AL  2008  2.80  25.48  24.68  11.23  4718  185281  139.355305  39.271089
35    AL  2009  2.81  26.23  17.64   6.64  4758  178893  119.797558  37.598361
36    AL  2010  2.97  26.44  21.16   6.65  4786  183014  132.488047  38.239448
37    AL  2011  3.09  27.08  26.75   5.72  4800  185667  129.546189  38.680625
38    AL  2012  3.31  27.32  27.26   4.28  4817  186554  122.631371  38.728254
39    AL  2013  3.06  26.47  26.75   5.35  4832  188814  120.463436  39.075745
40    AL  2014  2.91  27.20  25.68   5.79  4844  187568  122.632268  38.721718
41    AL  2015  2.65  27.39  18.11   4.15  4855  189429  119.200889  39.017302
42    AL  2016  2.50  28.07  15.86   3.90  4867  191523  113.995134  39.351346
43    AL  2017  2.42  28.85  18.02   4.41  4878  193693  108.588384  39.707462
44    AL  2018  2.54  28.27  20.52   4.49  4892  198054  112.355471  40.485282
45    AL  2019  2.59  28.85  19.30   4.04  4908  200829  106.250752  40.918704
46    AR  1997  1.64  18.17   8.57   4.30  2601   82760   59.143381  31.818531
47    AR  1998  1.48  17.07   7.37   3.95  2626   84791   60.528634  32.289033
48    AR  1999  1.47  16.79   7.75   4.07  2652   89340   62.727468  33.687783
49    AR  2000  1.43  17.04  10.35   5.45  2679   90224   63.341272  33.678238
50    AR  2001  0.91  17.89  10.03   6.92  2692   90081   62.492533  33.462481
51    AR  2002  0.88  16.59   9.53   5.91  2706   92989   61.205500  34.364006
52    AR  2003  1.22  16.45  10.76   6.76  2725   96714   62.185737  35.491376
53    AR  2004  1.25  16.76  13.03   8.33  2750  101194   62.510771  36.797818
54    AR  2005  1.50  18.63  16.77   9.94  2781  104759   60.232476  37.669543
55    AR  2006  1.51  20.67  18.76   9.06  2822  107084   62.093372  37.946137
56    AR  2007  1.65  20.57  20.85   9.27  2849  106272   63.382697  37.301509
57    AR  2008  1.78  22.47  25.90  10.72  2875  105923   64.169813  36.842783
58    AR  2009  1.73  22.39  17.39   7.81  2897  102514   61.542343  35.386262
59    AR  2010  1.74  21.57  21.30   7.23  2922  105224   66.087436  36.010951
60    AR  2011  1.93  22.02  26.98   7.36  2941  107321   67.484337  36.491329
61    AR  2012  2.27  22.56  27.61   5.53  2953  107719   66.255250  36.477819
62    AR  2013  2.41  23.29  26.97   6.63  2960  110301   68.512147  37.263851
63    AR  2014  2.42  23.19  25.84   7.49  2969  111730   68.913761  37.632199
64    AR  2015  2.28  24.03  18.24   6.19  2980  112939   59.053365  37.898993
65    AR  2016  2.19  23.85  15.94   5.18  2992  113490   62.132498  37.931150
66    AR  2017  2.04  24.23  18.08   5.95  3004  114951   64.172116  38.265979
67    AR  2018  1.99  22.83  20.66   5.86  3012  116699   70.786146  38.744688
68    AR  2019  1.99  24.11  19.37   5.20  3021  117447   65.072202  38.876862
69    AZ  1997  1.45  21.63   9.29   4.93  4737  168372   71.722988  35.544015
70    AZ  1998  1.35  21.48   7.83   4.92  4883  182984   76.724081  37.473684
71    AZ  1999  1.35  21.20   8.53   4.95  5024  198002   80.630985  39.411226
72    AZ  2000  1.26  21.25  10.92   5.95  5161  207775   86.642015  40.258671

In [ ]:
REGRESSION

In [13]:
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf

reg1_co2 = smf.ols(
    formula = "np.log(co2) ~ np.log(coal) + np.log(elec) + np.log(petro) + np.log(natur) + np.log(gdppc) + I(np.log(gdppc) ** 2)", 
    data = df,
    eval_env = 1
).fit(cov_type = "HC1")

print(reg1_co2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            np.log(co2)   R-squared:                       0.165
Model:                            OLS   Adj. R-squared:                  0.161
Method:                 Least Squares   F-statistic:                     44.77
Date:                Mon, 24 Mar 2025   Prob (F-statistic):           3.97e-49
Time:                        02:53:11   Log-Likelihood:                -1413.0
No. Observations:                1104   AIC:                             2840.
Df Residuals:                    1097   BIC:                             2875.
Df Model:                           6
Covariance Type:                  HC1
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept               -76.5578      8.865     -8.636      0.000     -93.934     -59.182
np.log(coal)              0.7053      0.067     10.476      0.000       0.573       0.837
np.log(elec)             -1.0880      0.129     -8.407      0.000      -1.342      -0.834
np.log(petro)            -0.2469      0.086     -2.872      0.004      -0.415      -0.078
np.log(natur)            -0.2237      0.096     -2.329      0.020      -0.412      -0.035
np.log(gdppc)            42.8901      4.587      9.349      0.000      33.899      51.881
I(np.log(gdppc) ** 2)    -5.3889      0.593     -9.080      0.000      -6.552      -4.226
==============================================================================
Omnibus:                       26.134   Durbin-Watson:                   0.119
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               27.379
Skew:                          -0.380   Prob(JB):                     1.13e-06
Kurtosis:                       3.129   Cond. No.                     6.21e+03
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The condition number is large, 6.21e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [14]:
reg2_co2 = smf.ols(
    formula = "np.log(co2) ~ np.log(coal) + np.log(elec) + np.log(petro) + np.log(natur) + np.log(gdppc) + I(np.log(gdppc) ** 2) + C(State)", 
    data = df,
    eval_env = 1
).fit(cov_type = "HC1")

print(reg2_co2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            np.log(co2)   R-squared:                       0.995
Model:                            OLS   Adj. R-squared:                  0.995
Method:                 Least Squares   F-statistic:                     6693.
Date:                Mon, 24 Mar 2025   Prob (F-statistic):               0.00
Time:                        02:53:11   Log-Likelihood:                 1395.0
No. Observations:                1104   AIC:                            -2682.
Df Residuals:                    1050   BIC:                            -2412.
Df Model:                          53
Covariance Type:                  HC1
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept                -0.2402      1.333     -0.180      0.857      -2.852       2.372
C(State)[T.AR]           -0.7132      0.018    -38.703      0.000      -0.749      -0.677
C(State)[T.AZ]           -0.3377      0.025    -13.264      0.000      -0.388      -0.288
C(State)[T.CA]            1.0382      0.021     49.065      0.000       0.997       1.080
C(State)[T.CO]           -0.4421      0.025    -17.402      0.000      -0.492      -0.392
C(State)[T.CT]           -1.2445      0.026    -47.450      0.000      -1.296      -1.193
C(State)[T.DE]           -2.2620      0.028    -81.170      0.000      -2.317      -2.207
C(State)[T.FL]            0.6168      0.016     39.353      0.000       0.586       0.647
C(State)[T.GA]            0.1228      0.019      6.316      0.000       0.085       0.161
C(State)[T.IA]           -0.5628      0.019    -29.161      0.000      -0.601      -0.525
C(State)[T.ID]           -2.1240      0.032    -65.996      0.000      -2.187      -2.061
C(State)[T.IL]            0.4555      0.020     22.709      0.000       0.416       0.495
C(State)[T.IN]            0.4090      0.018     22.784      0.000       0.374       0.444
C(State)[T.KS]           -0.6709      0.019    -35.066      0.000      -0.708      -0.633
C(State)[T.KY]            0.0143      0.018      0.813      0.416      -0.020       0.049
C(State)[T.LA]            0.3669      0.019     18.903      0.000       0.329       0.405
C(State)[T.MA]           -0.6050      0.029    -20.796      0.000      -0.662      -0.548
C(State)[T.MD]           -0.6994      0.026    -26.976      0.000      -0.750      -0.649
C(State)[T.ME]           -1.8806      0.037    -51.507      0.000      -1.952      -1.809
C(State)[T.MI]            0.2771      0.017     16.046      0.000       0.243       0.311
C(State)[T.MN]           -0.4193      0.019    -22.070      0.000      -0.457      -0.382
C(State)[T.MO]           -0.0730      0.016     -4.441      0.000      -0.105      -0.041
C(State)[T.MS]           -0.6460      0.018    -36.885      0.000      -0.680      -0.612
C(State)[T.MT]           -1.4014      0.015    -92.023      0.000      -1.431      -1.372
C(State)[T.NC]           -0.0206      0.017     -1.230      0.219      -0.053       0.012
C(State)[T.ND]           -0.9645      0.022    -43.683      0.000      -1.008      -0.921
C(State)[T.NE]           -1.1266      0.032    -35.447      0.000      -1.189      -1.064
C(State)[T.NH]           -2.0423      0.032    -64.107      0.000      -2.105      -1.980
C(State)[T.NJ]           -0.1669      0.026     -6.432      0.000      -0.218      -0.116
C(State)[T.NM]           -0.8738      0.016    -54.889      0.000      -0.905      -0.843
C(State)[T.NV]           -1.1961      0.020    -60.161      0.000      -1.235      -1.157
C(State)[T.NY]            0.3485      0.028     12.544      0.000       0.294       0.403
C(State)[T.OH]            0.5497      0.020     27.058      0.000       0.510       0.590
C(State)[T.OK]           -0.2802      0.015    -18.649      0.000      -0.310      -0.251
C(State)[T.OR]           -1.2426      0.016    -76.104      0.000      -1.275      -1.211
C(State)[T.PA]            0.6094      0.021     28.882      0.000       0.568       0.651
C(State)[T.RI]           -2.4171      0.032    -76.627      0.000      -2.479      -2.355
C(State)[T.SC]           -0.5084      0.017    -30.494      0.000      -0.541      -0.476
C(State)[T.SD]           -2.2694      0.022   -102.987      0.000      -2.313      -2.226
C(State)[T.TN]           -0.2072      0.020    -10.233      0.000      -0.247      -0.168
C(State)[T.TX]            1.5683      0.019     81.087      0.000       1.530       1.606
C(State)[T.UT]           -0.7840      0.017    -46.204      0.000      -0.817      -0.751
C(State)[T.VA]           -0.2522      0.019    -13.491      0.000      -0.289      -0.216
C(State)[T.VT]           -2.9940      0.023   -128.607      0.000      -3.040      -2.948
C(State)[T.WA]           -0.6862      0.023    -30.452      0.000      -0.730      -0.642
C(State)[T.WI]           -0.3038      0.016    -18.868      0.000      -0.335      -0.272
C(State)[T.WV]           -0.2547      0.020    -12.656      0.000      -0.294      -0.215
C(State)[T.WY]           -0.8676      0.028    -30.802      0.000      -0.923      -0.812
np.log(coal)              0.0158      0.010      1.633      0.102      -0.003       0.035
np.log(elec)             -0.2202      0.022    -10.035      0.000      -0.263      -0.177
np.log(petro)            -0.0415      0.011     -3.660      0.000      -0.064      -0.019
np.log(natur)             0.1060      0.010     10.536      0.000       0.086       0.126
np.log(gdppc)             2.7245      0.684      3.985      0.000       1.384       4.065
I(np.log(gdppc) ** 2)    -0.3182      0.087     -3.646      0.000      -0.489      -0.147
==============================================================================
Omnibus:                       25.363   Durbin-Watson:                   0.607
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               52.781
Skew:                          -0.025   Prob(JB):                     3.46e-12
Kurtosis:                       4.070   Cond. No.                     1.03e+04
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The condition number is large, 1.03e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [15]:
reg3_co2 = smf.ols(
    formula = "np.log(co2) ~ np.log(coal) + np.log(elec) + np.log(petro) + np.log(natur) + np.log(gdppc) + I(np.log(gdppc) ** 2) + C(State) + C(Year)", 
    data = df,
    eval_env = 1
).fit(cov_type = "HC1")

print(reg3_co2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            np.log(co2)   R-squared:                       0.996
Model:                            OLS   Adj. R-squared:                  0.996
Method:                 Least Squares   F-statistic:                     4971.
Date:                Mon, 24 Mar 2025   Prob (F-statistic):               0.00
Time:                        02:53:12   Log-Likelihood:                 1521.8
No. Observations:                1104   AIC:                            -2892.
Df Residuals:                    1028   BIC:                            -2511.
Df Model:                          75
Covariance Type:                  HC1
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept                 1.2396      1.335      0.928      0.353      -1.377       3.856
C(State)[T.AR]           -0.6708      0.021    -31.531      0.000      -0.712      -0.629
C(State)[T.AZ]           -0.3400      0.025    -13.774      0.000      -0.388      -0.292
C(State)[T.CA]            0.9666      0.026     37.194      0.000       0.916       1.018
C(State)[T.CO]           -0.4566      0.024    -19.318      0.000      -0.503      -0.410
C(State)[T.CT]           -1.3293      0.031    -42.608      0.000      -1.390      -1.268
C(State)[T.DE]           -2.3087      0.028    -82.427      0.000      -2.364      -2.254
C(State)[T.FL]            0.5415      0.022     24.851      0.000       0.499       0.584
C(State)[T.GA]            0.1193      0.022      5.524      0.000       0.077       0.162
C(State)[T.IA]           -0.5422      0.019    -28.181      0.000      -0.580      -0.505
C(State)[T.ID]           -2.0342      0.034    -60.193      0.000      -2.100      -1.968
C(State)[T.IL]            0.4681      0.021     22.461      0.000       0.427       0.509
C(State)[T.IN]            0.4394      0.020     22.480      0.000       0.401       0.478
C(State)[T.KS]           -0.6634      0.020    -33.911      0.000      -0.702      -0.625
C(State)[T.KY]            0.0621      0.020      3.133      0.002       0.023       0.101
C(State)[T.LA]            0.2203      0.024      9.055      0.000       0.173       0.268
C(State)[T.MA]           -0.6675      0.032    -20.944      0.000      -0.730      -0.605
C(State)[T.MD]           -0.6700      0.028    -24.247      0.000      -0.724      -0.616
C(State)[T.ME]           -1.9254      0.026    -74.077      0.000      -1.976      -1.874
C(State)[T.MI]            0.2793      0.018     15.651      0.000       0.244       0.314
C(State)[T.MN]           -0.4162      0.020    -21.020      0.000      -0.455      -0.377
C(State)[T.MO]           -0.0170      0.019     -0.903      0.366      -0.054       0.020
C(State)[T.MS]           -0.6860      0.021    -32.963      0.000      -0.727      -0.645
C(State)[T.MT]           -1.3655      0.017    -82.401      0.000      -1.398      -1.333
C(State)[T.NC]            0.0247      0.019      1.308      0.191      -0.012       0.062
C(State)[T.ND]           -0.9787      0.020    -48.103      0.000      -1.019      -0.939
C(State)[T.NE]           -1.1067      0.030    -37.094      0.000      -1.165      -1.048
C(State)[T.NH]           -2.0959      0.030    -68.800      0.000      -2.156      -2.036
C(State)[T.NJ]           -0.2608      0.026     -9.862      0.000      -0.313      -0.209
C(State)[T.NM]           -0.8798      0.018    -48.002      0.000      -0.916      -0.844
C(State)[T.NV]           -1.2173      0.023    -54.026      0.000      -1.261      -1.173
C(State)[T.NY]            0.2412      0.031      7.878      0.000       0.181       0.301
C(State)[T.OH]            0.5830      0.023     25.645      0.000       0.538       0.628
C(State)[T.OK]           -0.2777      0.017    -16.682      0.000      -0.310      -0.245
C(State)[T.OR]           -1.1939      0.019    -62.397      0.000      -1.231      -1.156
C(State)[T.PA]            0.6374      0.022     28.699      0.000       0.594       0.681
C(State)[T.RI]           -2.4607      0.033    -73.557      0.000      -2.526      -2.395
C(State)[T.SC]           -0.5012      0.017    -29.166      0.000      -0.535      -0.468
C(State)[T.SD]           -2.2562      0.023    -99.572      0.000      -2.301      -2.212
C(State)[T.TN]           -0.1779      0.023     -7.814      0.000      -0.223      -0.133
C(State)[T.TX]            1.4164      0.024     59.986      0.000       1.370       1.463
C(State)[T.UT]           -0.7407      0.018    -41.629      0.000      -0.776      -0.706
C(State)[T.VA]           -0.2366      0.021    -11.376      0.000      -0.277      -0.196
C(State)[T.VT]           -2.9940      0.023   -128.497      0.000      -3.040      -2.948
C(State)[T.WA]           -0.6281      0.024    -25.836      0.000      -0.676      -0.580
C(State)[T.WI]           -0.2797      0.018    -15.373      0.000      -0.315      -0.244
C(State)[T.WV]           -0.1649      0.021     -7.754      0.000      -0.207      -0.123
C(State)[T.WY]           -0.8628      0.027    -32.222      0.000      -0.915      -0.810
C(Year)[T.1998]          -0.0707      0.018     -3.889      0.000      -0.106      -0.035
C(Year)[T.1999]          -0.0300      0.016     -1.872      0.061      -0.061       0.001
C(Year)[T.2000]           0.1264      0.020      6.307      0.000       0.087       0.166
C(Year)[T.2001]           0.1104      0.020      5.639      0.000       0.072       0.149
C(Year)[T.2002]           0.0648      0.018      3.653      0.000       0.030       0.100
C(Year)[T.2003]           0.1527      0.024      6.341      0.000       0.106       0.200
C(Year)[T.2004]           0.2397      0.032      7.523      0.000       0.177       0.302
C(Year)[T.2005]           0.3505      0.044      7.981      0.000       0.264       0.437
C(Year)[T.2006]           0.3822      0.050      7.589      0.000       0.283       0.481
C(Year)[T.2007]           0.4347      0.054      8.012      0.000       0.328       0.541
C(Year)[T.2008]           0.5047      0.066      7.690      0.000       0.376       0.633
C(Year)[T.2009]           0.2862      0.046      6.164      0.000       0.195       0.377
C(Year)[T.2010]           0.3806      0.056      6.812      0.000       0.271       0.490
C(Year)[T.2011]           0.4449      0.068      6.529      0.000       0.311       0.578
C(Year)[T.2012]           0.3963      0.069      5.740      0.000       0.261       0.532
C(Year)[T.2013]           0.4180      0.068      6.125      0.000       0.284       0.552
C(Year)[T.2014]           0.4207      0.067      6.286      0.000       0.289       0.552
C(Year)[T.2015]           0.2347      0.049      4.748      0.000       0.138       0.332
C(Year)[T.2016]           0.1496      0.043      3.504      0.000       0.066       0.233
C(Year)[T.2017]           0.1970      0.049      4.037      0.000       0.101       0.293
C(Year)[T.2018]           0.2775      0.056      4.945      0.000       0.168       0.388
C(Year)[T.2019]           0.2224      0.052      4.298      0.000       0.121       0.324
np.log(coal)              0.0127      0.009      1.351      0.177      -0.006       0.031
np.log(elec)             -0.0199      0.027     -0.737      0.461      -0.073       0.033
np.log(petro)            -0.4108      0.055     -7.526      0.000      -0.518      -0.304
np.log(natur)            -0.0759      0.021     -3.580      0.000      -0.117      -0.034
np.log(gdppc)             2.1388      0.672      3.183      0.001       0.822       3.456
I(np.log(gdppc) ** 2)    -0.2333      0.085     -2.731      0.006      -0.401      -0.066
==============================================================================
Omnibus:                       16.752   Durbin-Watson:                   0.564
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               25.747
Skew:                           0.120   Prob(JB):                     2.57e-06
Kurtosis:                       3.709   Cond. No.                     1.12e+04
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The condition number is large, 1.12e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [17]:
from stargazer.stargazer import Stargazer

table = Stargazer([reg1_co2, reg2_co2, reg3_co2])
table.significant_digits(3)

display(table)

In [ ]:
INTERPRETATION

In [ ]:
    The results follow Economic Theory except for the coal and natur regressor. Although all the regressors signs (+ or -) follow 
Economic Theory, the coal and natur regressors should have a negative relationship (instead of a positive one) with emissons. As prices 
increase, there will be less buyers, or entities would prefer to save there energy due to the the increase in price, thus co2 emissions 
should fall. This may also indicate there are potential hidden Time Fixed Effects.

In [ ]:
    Including log(gdppc)^2 is essential to the regression. While log(gdppc) covers the linear relationship between income and emissions,
it does not measure how that relationship might change as income increases. log(gdppc)^2 accounts for this by determing whether or 
not the effect of income of emissions changes past a certain level. For example As gdppc increases, governments might invest in cleaner 
energy and environmental protection, reducing emissions.

In [ ]:
    Based on the OLS results, the implied shape of the model is an inverted U. This is the case since log(gdppc) is postive, but log(gdppc)^2 is 
negative. In real-world terms, this means that income does in fact increase emissions, but only up to a certain point, after which, 
emissions start to decline. 
    Based on the p-value of log(gdppc)^2 (.087), at a 5% statistical significance level, we fail to reject the null hypothesis.

In [18]:
hypothesis = 'np.log(coal) = 0, np.log(elec) = 0, np.log(petro) = 0, np.log(natur) = 0'
joint_test = reg2_co2.f_test(hypothesis)

print(joint_test)

<F test: F=134.84009056010763, p=5.443527997442159e-93, df_denom=1.05e+03, df_num=4>

In [ ]:
The joint F-test strongly rejects the null hypothesis at the 5% significance level. This means that the energy price variables are 
jointly statistically significant predictors of CO emissions.